################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TT-Dashboard-Microservice/TT-Dashboard-Microservice/ClientApp/node_modules
/.vs
/TT-Dashboard-Microservice/.vs/TT-Dashboard-Microservice
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/obj
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/bin/Debug/netcoreapp3.1
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/bin/Release/netcoreapp3.1
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/ClientApp/build
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/Properties/PublishProfiles
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/publish
/TT-Dashboard-Microservice/TT-Dashboard-Microservice/publish.zip
/TT-Dashboard-Microservice/.vs/ProjectEvaluation
