/* Bringing back some Taurus branding, etc. */

html {
    font-size: 14px;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #df4135;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* General */
a {
    text-decoration: none;
    color: #df4135;
}

b {
    font-weight: bold;
}

body {
    background-color: #eaeaea;
    color: #333;
    font-family: 'Open Sans', Arial, sans-serif;
}

#main {
    overflow: hidden;
}

.strike {
    text-decoration: line-through;
}

.ng-hide {
    display: none;
}
/*Icons*/
.icon-smile, .icon-frown, .icon-warning {
    font-size: 20px;
}

.options #file1 {
    display: none;
}

.icon-smile {
    color: green;
}

.icon-frown {
    color: red;
}

.icon-warning {
    color: yellow;
}
/* Buttons */
.button {
    background-color: #df4135;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
}

.button-yellow {
    background-color: #FFDB58;
    color: #000;
}

    .button-yellow:hover {
        opacity: 9;
    }

.datatable a.button {
    font-size: .9em;
    margin-top: 0px;
    display: inline-block;
}

.button:hover {
    background-color: #fd6458;
}

.button [class^="icon-"], .button [class*=" icon-"],
a [class^="icon-"], a [class*=" icon-"] {
    padding-right: 2px;
}

button.button {
    margin-top: 10px;
}

.button.export-csv {
    display: inline-block;
}

form button.button {
    margin-left: 150px;
}

form input, form textarea {
    font-family: 'Open Sans', Arial, sans-serif;
}

input.button {
    border: none;
    cursor: pointer;
}

/*jquery-ui override*/
/*.ui-widget-content a {
    color: #fff !important;
}*/
/* Aside General */
#aside {
    background-color: #121212;
    border-right: 2px solid #f1f1f1;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    overflow-y: auto;
}
/* Header */
.header img {
    height: 94px;
    padding: 40px 15px 10px;
    width: 127px;
}

#loggedIn {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}

    #loggedIn span {
        display: block;
        font-weight: normal;
    }
/* Menu Column */
.dashboard {
    display: inline-block;
    margin: 20px;
}

.clockInOut {
    display: inline-block;
    margin: 10px 20px;
}

.clockedIn {
    color: white;
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

#menu a {
    color: #666;
    text-decoration: none;
}

    #menu a:hover {
        color: #fff;
    }

#menu li {
    font-size: 1.5em;
    line-height: 2.57;
    padding-left: 0;
}

    #menu li.current {
        background-color: #222;
    }

        #menu li.current a {
            color: #fff;
        }

        #menu li.current li.current {
            border: none;
        }

        #menu li.current > a {
            font-weight: bold;
        }

    #menu li .submenu li a {
        background: none;
        line-height: 1.5;
    }

    #menu li a {
        padding-left: 20px;
    }

    #menu li.current ul {
        display: block;
        padding: 0 0 10px;
    }

    #menu li.current li {
        background: none;
        padding-left: 5px;
    }

    #menu li.currentPage {
        font-weight: bold;
    }

        #menu li.currentPage li {
            background: none;
            font-weight: normal;
        }

    #menu li li {
        background: none;
        font-size: 0.857em;
        line-height: 1;
    }

    #menu li ul {
        display: none;
        padding: 0;
    }

#search-box {
    height: 30px;
    margin: 10px 0 0;
    position: relative;
}

    #search-box button.button {
        margin: 0;
        position: absolute;
        right: 20px;
        top: 0;
    }

    #search-box input {
        left: 20px;
        height: 25px;
        position: absolute;
        top: 0;
        width: 89px;
    }
/* Body Area General */
#bodyWrapper {
    clear: both;
}

#contentWrapper {
    margin-left: 172px;
    overflow: hidden;
}

#contentWrapper h3 {
    cursor: pointer;
    border-bottom: 1px solid #a4a4a4;
    color: #a4a4a4;
    font-size: 1.8em;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

#leftColumn {
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    margin: 0 10px 0 0;
    overflow: hidden;
}

#leftColumn #bodyWrapper div {
    padding: 0;
}

#leftColumn div, #rightColumn div {
    overflow: hidden;
    padding: 20px;
}

#rightColumn {
    background-color: #f3f3f3;
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    float: right;
    margin: 0 10px;
    width: 400px;
}
/* Title Bar and Action Buttons */
.actions {
    margin-top: 10px;
    overflow: hidden;
}

    .actions li {
        float: left;
        margin-right: 20px;
    }

    .actions a {
        color: #fff;
        font-size: 1.3em;
    }

        .actions a:hover, .actions button:hover {
            color: #a22e25;
        }

    .actions button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.3em;
        padding: 0;
    }

.archived {
    background: #a22e25;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px 0;
    padding: 15px 0;
    text-align: center;
}

#leftColumn #actionsContainer {
    padding: 0;
}

#titleBar {
    background-color: #df4135;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
    padding: 10px;
}

#titleBar h2 {
    color: #fff;
    font-size: 2.0em;
}

#titleBar h2 a {
    color: white;
    /*text-decoration: underline;*/
}

#titleBar p {
    color: #fff;
    font-size: 2em;
    margin-top: 10px;
}
/* List Areas */
.list li {
    border-top: 1px solid #e1e1e1;
    font-size: 1.5em;
    padding: 10px 15px;
}

    .list li.overdue {
        background: #ffcccc;
    }

        .list li.overdue:hover {
            background-color: #fef6f5;
        }

    .list li.primary {
        font-weight: bold;
    }

    .list li:first-child {
        border-top: none;
    }

    .list li:hover {
        background-color: #fef6f5;
    }

    .list li:nth-child(odd) {
        background-color: #f3f3f3;
    }

.list.filtered li:nth-child(odd) {
    background-color: #fff;
}

.list li:nth-child(odd):hover {
    background-color: #fef6f5;
}

.list.filtered li:nth-child(odd):hover {
    background-color: #fef6f5;
}

.list li:nth-child(odd).overdue {
    background-color: #ffcccc;
}

    .list li:nth-child(odd).overdue:hover {
        background-color: #fef6f5;
    }

.list li a {
    color: #df4135;
    font-weight: bold;
}

    .list li a:hover {
        text-decoration: underline;
    }

    .list li a i {
        text-decoration: none;
    }

.list li h4 {
    line-height: 1.5;
    padding-left: 23px;
}

.list li p {
    color: #666;
    font-size: 0.857em;
    line-height: 1.5em;
    margin-top: 3px;
    margin-left: 24px;
}

    .list li p.comment {
        font-size: 0.929em;
    }

    .list li p span {
        font-weight: bold;
    }
/* File Listing */
.fileListing li {
    overflow: hidden;
}

    .fileListing li img {
        float: left;
        padding-right: 10px;
    }
/* Photo File Listing */
.photoListing li {
    float: left;
    margin-right: 3px;
    position: relative
}

    .photoListing li a img.thumbnail {
        width: 60px;
    }

    .photoListing li a.delete {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff
    }

        .photoListing li a.delete i {
            font-size: 14px;
        }
/* Detail and Single List */
.rightlist, .leftlist {
    float: left;
    width: 50%;
}

    .rightlist li, .leftlist li {
        font-size: 1.5em;
        padding: 5px 0;
    }

        .rightlist li.bigger, .leftlist li.bigger {
            font-size: 1.75em;
        }

.detailList li {
    float: left;
    font-size: 1.5em;
    padding: 5px 0;
    width: 50%;
}

.detailList span, .rightlist li span, .leftlist li span {
    font-weight: bold;
}

.detailList ul {
    overflow: hidden;
}

.singleList li {
    font-size: 1.5em;
    padding: 5px 0;
}
/* Recent Activity */
li.history1 {
}

li.history2, li.history3 {
    display: none;
}

li.activity1 h4 {
    background: url('../images/icon-message.png') no-repeat;
}

li.activity2 h4 {
    background: url('../images/icon-edit.png') no-repeat;
}

li.activity3 h4 {
    background: url('../images/icon-document.png') no-repeat;
}
/* Sorting Form */
#searchForm {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 15px;
}

@media (max-width: 1340px) {
    #searchForm .sorting li {
        margin-bottom: 10px;
    }
}

.sorting {
    float: left;
}

    .sorting input[type="checkbox"] {
        vertical-align: middle;
    }

    .sorting li {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        margin-right: 20px;
    }

        .sorting li input[type="text"] {
            height: 20px;
            padding-left: 5px;
            width: 120px;
        }

        .sorting li label {
            font-size: 1.2em;
            line-height: 34px;
        }

    .sorting select {
        height: 24px;
    }

.typeahead-selection {
    width: 100%;
    padding: 4px 2px;
    font-size: 10pt;
    min-width: 120px;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
}

    .typeahead-selection a {
        color: black;
    }

    .typeahead-selection .item-heading {
        font-weight: bold;
    }

    .typeahead-selection :hover {
        background-color: lightblue;
        cursor: pointer;
    }

/* History Form */
#itemhistory {
    clear: both;
    overflow: hidden;
}

#history {
    float: right;
    padding: 10px 0 0;
    width: 47%;
}

#historyform {
    float: left;
    padding: 10px 0 0;
    width: 50%;
}

    #historyform label {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
    }

    #historyform textarea {
        margin: 15px 0 0;
        width: 100%;
    }

    #historyform .button {
        margin-left: 0;
    }
/* dropzone */
.dz-message {
    font-size: 15px;
    border: 1px dashed #ccc;
    min-height: 35px;
    line-height: 20px;
    text-align: center;
    padding-top: 10px !important;
}
/* Edit Form */
#editForm button, .editForm button {
    clear: both;
}

#editForm li, .editForm li {
    overflow: hidden;
    padding-top: 10px;
}

    #editForm li:first-child, .editForm li:first-child {
        padding-top: 0;
    }

    #editForm li input, .editForm li input {
        width: 50%;
    }

        #editForm li input[type="radio"], .editForm li input[type="radio"] {
            width: inherit;
        }

    .editForm li input, .editForm li select, .editForm li span {
        font-size: 13px;
    }

    .editForm li span {
        padding-top: 9px;
        display: inline-block;
    }

    #editForm li input[type="checkbox"], .editForm li input[type="checkbox"] {
        width: auto;
    }

    #editForm li .helper-input, .editForm li .helper-input {
        width: 285px;
    }

#editForm .helper-text, .editForm .helper-text {
    font-size: 15px;
}

#editForm li label, .editForm li label {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 6px 10px 0 0;
    text-align: right;
    width: 30%;
}

#editForm li p, .editForm li p {
    font-size: 1.5em;
    padding-top: 6px;
}

#editForm li select, .editForm li select {
    width: 50%;
}

#editForm li textarea, .editForm li textarea {
    width: 50%;
}

#editForm ul, .editForm ul {
    padding-bottom: 20px;
}

    #editForm ul ul, .editForm ul ul {
        font-size: 1.5em;
    }

        #editForm ul ul input, .editForm ul ul input {
            width: 73%;
        }

.leftForm {
    float: left;
    width: 50%;
}

.rightForm {
    overflow: hidden;
}

.leftForm3 {
    float: left;
    width: 33%;
}

.centerForm3 {
    display: inline-block;
    width: 33%;
}

.rightForm3 {
    float: right;
    width: 33%;
}
/* expenses view */
.datatable tbody tr.header1 td {
    color: white;
    background: #999;
}

.datatable tbody tr.header2 td {
    font-weight: bold;
    padding-left: 40px;
    background-color: #ddd;
}

.datatable tbody tr.expenserow td:first-of-type {
    padding-left: 80px;
    white-space: nowrap
}

.datatable tbody tr.expenserow td .button {
    background-color: #df4135;
    display: inline;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    line-height: 23px;
}

    .datatable tbody tr.expenserow td .button.approve[disabled=disabled],
    .datatable tbody tr.expenserow td .button.approve[disabled=disabled]:hover {
        background: #999;
    }

    .datatable tbody tr.expenserow td .button.approve {
        background-color: #51a351;
    }

        .datatable tbody tr.expenserow td .button.approve:hover {
            background-color: #51a351;
        }

.button.smallbutton {
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    line-height: 23px;
    margin: 0;
}



/* Data Table */
.asc a {
    background: url('../images/SortUp.gif') no-repeat right center;
    padding-right: 12px;
}

.desc a {
    background: url('../images/SortDown.gif') no-repeat right center;
    padding-right: 12px;
}

.datatable {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.5em;
    margin-top: 10px;
    width: 100%;
}

    .datatable tbody {
        border-bottom: 1px solid #e1e1e1;
    }

        .datatable tbody tr:hover {
            background-color: #fef6f5;
        }

        .datatable tbody tr:nth-child(odd) {
            /* background-color: #f3f3f3; */
        }

    .datatable.timetracking tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    .datatable tbody tr:nth-child(odd):hover {
        background-color: #fef6f5;
    }

    .datatable.timetracking tbody tr td:nth-child(n+2) {
        padding-left: 35px;
    }

    .datatable tbody td {
        border-collapse: collapse;
        border-top: 1px solid #e1e1e1;
        font-size: 0.857em;
        padding: 10px 15px;
    }

        .datatable tbody td a {
            font-weight: bold;
        }

    .datatable tfoot select {
        margin-left: 10px;
    }

    .datatable tfoot td {
        padding: 10px 15px 0 0;
    }

    .datatable th {
        font-weight: bold;
        padding: 0 0 15px 15px;
        text-align: left;
        white-space: nowrap;
    }

        .datatable th.right, .datatable td.right {
            text-align: right;
            padding-right: 15px;
        }

        .datatable th.center, .datatable td.center {
            text-align: center;
        }

        .datatable th a {
            /* color: #333; */
        }

    .datatable .multiline-entry {
        white-space: pre;
        font-family: monospace;
    }

#leftColumn #results {
    padding: 0;
}

#leftColumn #timelogs {
    padding: 0;
}
/* Error Area */
tr.rowerror {
    border: 2px dashed #df4135 !important;
}

    tr.rowerror td {
        font-weight: bold;
    }

div.error,
td.error,
tr.error {
    color: #df4135;
    font-size: 1.5em;
    font-weight: bold;
}

div.errorSmall,
td.errorSmall,
tr.errorSmall {
    color: #df4135;
    font-size: 1.0em;
    font-weight: bold;
}

tr.errorState, td.errorState, td.errorState input {
    background: #ffcccc !important;
}

.errorState, input.ng-invalid, input.ng-invalid-required {
    border: 1px solid #df4135;
}

#errorMessageList {
    color: #df4135;
    display: none;
    font-size: 1.5em;
    padding: 20px 0 0 20px;
}

#messageHolderHolder {
    background: #ffff99;
    border: 1px solid #ccc;
    display: none;
    font-weight: bold;
    font-size: 1.5em;
    height: 50px;
    left: 0;
    padding-top: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

#message {
    padding-left: 20px;
}

    #message.success {
        background: url('../images/success.gif') no-repeat left 3px;
    }

    #message.error {
        background: url('../images/error.gif') no-repeat left 3px;
    }

/* Team Members */
#teamMembers li {
    border-top: 1px solid #f1f1f1;
    font-size: 1.2em;
    padding: 10px 15px;
}

    #teamMembers li:hover {
        background-color: #fef6f5;
    }

    #teamMembers li a {
        color: #df4135;
        font-weight: bold;
    }
/* Team To-do assignment in new Proj */
#editForm ul#newProjectTeamTodo {
    font-size: 1em;
    padding-bottom: 0;
    display: inline-block;
}

    #editForm ul#newProjectTeamTodo li label {
        float: none;
        text-align: left;
        display: inline;
    }
/* Team To-do in Metrics*/
#teamTodo li label {
    font-size: 1.35rem;
}
/* Assignments and Files */
#assignments span {
    display: block;
    font-size: 1.5em;
    padding-bottom: 5px;
}

#rightColumn #assignmentsandfiles div {
    padding: 0;
}

    #rightColumn #assignmentsandfiles div:first-child {
        margin-top: 0;
    }
/* Heading General {*/
#contentWrapper .head {
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
}

.head a, .head button {
    float: right;
    margin: 0 5px 0 0 !Important;
}

.floatright {
    float: right;
}

.head .floatright {
    margin-right: 10px;
    line-height: 34px;
}

.head a ~ a {
    margin-right: 5px;
}

#history .head {
    border-bottom: none;
}

#contentWrapper .head h3 {
    border-bottom: none;
    float: left;
    height: 39px;
    line-height: 39px;
    padding-bottom: 0;
}
/* drop shadow */
.ds {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    background: #efefef;
    -webkit-box-shadow: 5px 5px 5px 5px #888;
    box-shadow: 5px 5px 5px 5px #888;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* Tasks */
#leftColumn #ganttholder {
    padding: 0 0 10px;
}

#ganttholder div {
    padding: 0;
}
/* Project Details */
.projecttask1 {
}

.projecttask2 {
    background: #ccc !important;
}

.leadstatus2 td {
    background: #efefef !important;
}

.leadstatus3 td {
    background: #ccc !important;
}

.projectstatus1 td {
    background: #efefef !important;
}

.projectstatus3 td {
    background: #ccc !important;
}

.projectstatus4 td {
    background: #ccc !important;
}

.projectstatus5 td {
    background: #ccc !important;
}
/* Lead Details */
/*#leadDetails li {
    float:left;
    font-size:1.5em;
    padding:5px 0;
    width:50%;
}*/

/**/
#leftColumn #partsToOrder {
    padding: 0px;
}

#leftColumn #partsToReceive {
    padding: 0px;
}

#leftColumn #receivedParts {
    padding: 0px;
}
/* time tracking */
.timetracking td h2 {
    font-weight: bold;
}

.timetracking td h3 {
    font-size: 1em !important;
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 0 0 10px !important;
    font-weight: bold;
}

.timetracking td h4 {
    margin: 0 0 0 20px !important;
}

.timetracking td a {
    margin-left: 2px;
}

    .timetracking td a img {
        vertical-align: middle
    }

/* file upload*/
#fileform a {
    color: #df4135;
}

    #fileform a.add {
        color: #ffffff;
        float: right;
        margin-top: 10px;
    }

#fileform i {
    font-size: 15px;
}

#fileform label {
    margin-right: 20px;
}

.toast-message {
    font-size: 20px;
}

#uploadfileholder #fileform {
    border-style: dashed;
    border-width: 3px;
    text-align: center;
}
/* Responsive Table */
#leftColumn .table-responsive {
    padding: 0;
    overflow-x: auto;
}

@media (max-width: 1340px) {
    #leftColumn .table-responsive {
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
}
/* Media Queries */
@media (max-width:1040px) {
    #leftColumn {
        margin: 0;
    }

    #rightColumn {
        float: none;
        margin: 0;
        width: auto;
    }
}

@media (max-width:768px) {
    #history {
        float: none;
        width: 100%;
    }

    #historyform {
        float: none;
        width: 100%;
    }

        #historyform textarea {
            width: 98%;
        }
}

.ui-autocomplete {
    z-index: 100000 !important;
}

#leftColumn .simple-scrolling {
    overflow-x: auto;
}

    #leftColumn .simple-scrolling div {
        overflow: inherit;
    }

.scrolling {
    width: 95%;
    padding-right: 10px;
    overflow: auto !important;
}

/* Quote styles */
.quoteForm {
    font-size: 12px;
    color: #000;
}

    .quoteForm .leftBar {
        vertical-align: bottom;
        width: 30px;
        font-size: 14px;
        font-weight: bold;
        background: #f1f1f1;
    }

    .quoteForm .verticalText {
        -ms-transform: rotate(270deg); /* IE 9 */
        -moz-transform: rotate(270deg); /* Firefox */
        -webkit-transform: rotate(270deg); /* Safari and Chrome */
        -o-transform: rotate(270deg); /* Opera */
        transform: rotate(270deg);
        transform-origin: 3px top 0;
    }

        .quoteForm .verticalText div {
            text-align: center;
            position: absolute;
            min-width: 500px;
            top: 3px;
        }

.categoryHeader {
    background-color: #ccc;
    font-weight: bold;
    text-align: center;
    padding: 4px 0 !important;
}

table.editGrid {
    border-collapse: collapse;
    border: 1px solid #999;
}

    table.editGrid td, table.editGrid th {
        border: 1px solid #999;
        /*padding: 3px 1px;*/
        vertical-align: middle;
    }

    table.editGrid th {
        text-align: left;
        margin: 0;
        font-weight: bold;
        min-height: 25px;
        height: 25px;
    }

    table.editGrid tfoot td {
        height: 25px;
        text-align: right;
    }

    table.editGrid input, table.editGrid textarea {
        border: none;
        width: 97%;
        margin: 0;
        padding: 0;
    }

    table.editGrid textarea {
        height: 50px;
    }

    table.editGrid td.qty, table.editGrid th.qty {
        width: 40px;
        text-align: center
    }

        table.editGrid td.qty input {
            text-align: center;
        }

    table.editGrid td.ofe, table.editGrid th.ofe {
        width: 40px;
        text-align: center;
    }

    table.editGrid td.ocp, table.editGrid th.ocp {
        width: 40px;
        text-align: center;
    }

td.notes, th.notes {
    width: 350px;
}

td.partNumber, th.partNumber {
    width: 200px;
}

    td.partNumber input {
        height: 100%;
        width: 200px
    }

td.description, th.description {
    width: 450px;
}

td.discountPrice, td.costTotal,
th.discountPrice, th.costTotal {
    width: 75px;
}

td.lineTotal, th.lineTotal {
    width: 100px;
}

table.editGrid th.discountPrice, table.editGrid th.lineTotal, table.editGrid th.costTotal, table.editGrid th.cost, table.editGrid th.markupPercent, table.editGrid th.msrp {
    text-align: right;
}

table.editGrid td.discountPrice span, table.editGrid td.lineTotal span, table.editGrid td.costTotal span {
    display: inline-block;
    width: 90%;
    text-align: right;
}

table.editGrid tr.error td {
    border: 1px solid red;
    background: #ffcccc;
}

    table.editGrid tr.error td input, table.editGrid tr.error td textarea {
        background: #ffcccc;
    }

td.msrp, td.cost, td.markupPercent, th.msrp, th.cost, th.markupPercent {
    width: 75px;
}

td.ocp {
    width: 40px;
}

td.dragger, th.dragger {
    width: 20px;
    cursor: move;
    text-align: center;
}

td.msrp input, td.cost input {
    text-align: right;
    width: 80%;
}

td.markupPercent input {
    text-align: right;
    width: 75%;
}

.quoteForm td.actions {
    padding: 3px 5px !important;
    width: 12px;
}

    .quoteForm td.actions a {
        color: #df4135;
    }

    .quoteForm td.actions.add a {
        color: green;
    }

th.ocp, td.ocp, th.cost, td.cost, td.cost input,
th.costTotal, td.costTotal,
th.markupPercent, td.markupPercent, td.markupPercent input,
th.notes, td.notes, td.notes input, td.notes textarea {
    background-color: #ddd
}

    td.notes.showLaE label {
        display: inline-block;
        width: 50px;
    }

    td.notes.showLaE input {
        width: 48%;
        border: 1px solid white;
    }

.quoteForm td.hidden {
    visibility: hidden
}

td.nocharge {
    text-align: center !important;
}

    td.nocharge span {
        text-align: center !important;
        color: red;
    }

.quoteForm input:disabled {
    background: none;
    color: inherit;
}

.quoteForm input[type='number'] {
    -moz-appearance: textfield;
}

.quoteForm input::-webkit-outer-spin-button,
.quoteForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quoteForm tr.totalRow td {
    padding: 3px 0;
    border: 0;
}

    .quoteForm tr.totalRow td.lineTotal {
        border: 1px solid #999;
    }

.quoteForm .head {
    margin-top: 10px;
}

    .quoteForm .head h3 {
        cursor: pointer;
    }

.emptyPlaceHolder td {
    height: 40px;
}

#quoteRoomReassignModal {
    border: inherit
}

    #quoteRoomReassignModal td {
        padding: 5px
    }

#quoteRoomReassignModal {
    font-weight: bold
}

/*.ui-sortable-placeholder { height: 40px;}*/
/* typeahead */
.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    outline: none;
}

.typeahead {
    background-color: #fff;
}


.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    /*margin-top: 0px;
  padding: 8px 0;*/
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

    .tt-dropdown-menu div {
        padding: 0 !important;
    }

    .tt-dropdown-menu p {
        border-top: 1px solid #ccc;
        padding: 2px;
    }

.tt-suggestion {
    padding: 3px 20px;
}

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #df4135;
    }

    .tt-suggestion p {
        margin: 0;
    }

.acknowledge {
    font-size: 1.5em;
}

.notesacknowledge {
    page-break-before: always;
}

.signoffsheet table {
    page-break-inside: auto;
}

    .signoffsheet table tr {
        page-break-inside: avoid;
        page-break-before: auto;
    }

.screenhidden {
    display: none
}

.timecard div {
    margin: 0;
    padding: 0 !important;
}

#dayGrid {
    max-width: 575px;
    padding-top: 6px !important;
    padding-bottom: 5px !important;
}

    #dayGrid .day {
        width: 80px;
        float: left;
        border: 1px solid #ccc;
        height: 70px;
        padding-top: 20px !important;
        text-align: center;
        font-size: 12px;
        line-height: 22px;
    }

        #dayGrid .day i {
            font-style: italic
        }

        #dayGrid .day.holiday {
            background-color: #ff8954;
            color: white;
        }

        #dayGrid .day.weekend {
            background-color: #efefef
        }

        #dayGrid .day span {
            display: block !important;
            font-weight: bold;
        }

#timeClock button.approve {
    background-color: #51a351;
    height: 25px;
    font-weight: normal;
    display: inline;
    font-size: 13px;
    line-height: 23px;
    margin-top: 0;
}

#timeClock td div .button {
    display: inline;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    margin-top: 0;
}

.datatable tbody tr.nonactive td {
    background-color: #eee;
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
}

#timeGrid td {
    width: 11.9344%;
}

#timeGrid th {
    width: 11.9344%;
    padding-top: 15px;
}

.collapse-button {
    padding: 0 7px;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-align: center
}

.timecard-collection {
    margin: 8px 0;
    clear: both;
}

    .timecard-collection .employee-name {
        font-size: large;
    }

    .timecard-collection .timecard {
        float: left;
        border: 1px solid;
        margin: 4px;
        padding: 8px !important;
    }

        .timecard-collection .timecard .timecard-totals {
            margin-top: 8px;
        }

            .timecard-collection .timecard .timecard-totals h2 {
                font-size: larger;
                font-weight: bold;
            }

        .timecard-collection .timecard .datatable {
            width: auto;
        }

a.button.timecard-navigation {
    display: inline-block;
}

#productformholder input {
    width: 100%;
}
